html, body {
    background-color:blue;
    margin: 0;
    height: 100%; 
    background-color: #134192 !important;
    margin-top: 1em;
    overflow: hidden;
}

#viewer {
    height: 30em;
    width: 50em;
    overflow: hidden;
}

.viewer::-webkit-scrollbar {
    display: none;
  }

.texture{
    padding: 1em;
    height: 80px;
    width: 80px;
    border-radius: 40%;
}

.textureSelector{

    display: flex;

    align-items: center;
    justify-content: space-around;

    flex-flow: row wrap; 

}

.elementSelector{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
}

.titre{
    color: white;
    font-weight: bold;
    font-size: 45px;
    margin-top: -2em;
}
.titre2{
    color: white;
    font-size: 35px;
}

.logo{
    width: 80px;
    height: 80px;
    
}

.card{
    background-color: rgb(231, 229, 229);
}

.btn{
    margin-right: 0.5em;
}
