html, body {
    background-color:blue;
    margin: 0;
    height: 100%; 
    background-color: #134192 !important;
    margin-top: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
}

#viewer {
    height: 35em;
    width: 50em;
    overflow: hidden;
    margin-top: 2em;
    padding-left: 2em;
}

.viewer::-webkit-scrollbar {
    display: none;
  }

.texture{
    margin-right: 1em;
    height: 80px;
    width: 80px;
    border-radius: 40%;
    border: 1px solid rgb(153, 153, 153);
}

.textureSelector{

    display: flex;

    align-items: center;
    justify-content: space-around;

    flex-flow: row wrap; 

}

.elementSelector{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
    margin-top: 2em;
}

.titre{
    color: white;
    font-weight: bold;
    font-size: 35px;
    margin-top: -2em;
    text-align: right;
}
.titre2{
    color: white;
    font-size: 30px;
    text-align: right;
    margin-top: -0.5em;
}

.logo{
    width: 80px;
    height: 80px;
    
}

.card{
    background-color: rgb(255, 255, 255);
    margin-top: 2em;
    margin-left: 3.5em;
    overflow-y: scroll;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

#ariane{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 95%;
    margin-top: 2.5em;
}

#btnari{
    background-color: #1a57c0;
    color: white;
    margin-left: 0em;
    font-size: 22px;
    clip-path: polygon(
        0% 0%,
        0% 0%,
        75% 0%,
        100% 50%,
        75% 100%,
        0% 100%);
        height: 2.5em;
}

#btnariDebut{
    background-color: #1a57c0;
    color: white;
    margin-left: 0em;
    font-size: 22px;
    clip-path: polygon(
        0% 0%,
        75% 0%,
        100% 50%,
        75% 100%,
        0% 100%);
    height: 2.5em;
}
#btnariFin{
    background-color: #1a57c0;
    color: white;
    margin-left: 0em;
    font-size: 22px;
    clip-path: polygon(
        0% 0%,
        0% 0%,
        100% 0%,
        100% 100%,
        0% 100%);
    height: 2.5em;
}

.btn{
    margin-left: 5em;
    width: 160px;
    height: 70px;
}

.carousel-inner{
    margin-top: -3.5em;
}

.space{
    height: 70px;
}

#cons{
    color: rgb(225, 83, 241);
    font-weight: bold;
    margin-top: -1em;
}

#cam1{
    background-color: white;
    color: white;
    font-size: 0px;
    margin-top: -1em;
    height: 8px;
    width: 30px;
    margin-right: 10px;
}
#cam2{
    background-color: white;
    color: white;
    font-size: 0px;
    margin-top: -1em;
    height: 8px;
    width: 30px;
    margin-right: 10px;
}
#cam3{
    background-color: white;
    color: white;
    font-size: 0px;
    margin-top: -1em;
    height: 8px;
    width: 30px;
}

#cat{
    background-color: rgba(47, 104, 211, 0.358);
    margin-right: 0;
    margin-left: 0;
}

.nomCat{
    display: table-cell;
    
    height: 3em;
    font-size: 30px;
    vertical-align: middle;
}

.nomSousCat{
    margin-top: 0.7em;
    font-size: 25px;
    color: rgb(104, 80, 58);
}

.lien{
    text-decoration: none;
    color: white;
}

#radio{
    margin-top: -3em;
}