html, body {
    margin: 0;
    height: 100%; 
    overflow: hidden
}

#viewer {
    height: 50%;
    width: 50%;
    overflow: hidden;
}

.viewer::-webkit-scrollbar {
    display: none;
  }

.texture{
    padding: 1em;
    height: 80px;
    width: 80px;
    border-radius: 40%;
}

.textureSelector{
    border: double;
    border-color: blue;

    display: flex;

    align-items: center;
    justify-content: space-around;

    flex-flow: row wrap;

    
}