body{
    background-color: #134192 !important;
    padding-top: 70px;
}

.titre{
    color: white;
    font-weight: bold;
    font-size: 45px;
}
.titre2{
    color: white;
    font-size: 35px;
}

.logo{
    width: 80px;
    height: 80px;
    
}


@media only screen and (max-width: 1367px) {
    body{
        background-color: #134192 !important;
        padding-top: 30px;
    }
    
    .titre{
        color: white;
        font-weight: bold;
        font-size: 35px;
        margin-top: -2em;
    }
    .titre2{
        color: white;
        font-size: 30px;
    }
    
    .logo{
        width: 80px;
        height: 80px;
        margin-left: -2em;
    }
}