body{
    background-color: #134192 !important;
    padding-top: 70px;
}

.fleche{
    margin-top: -1em;
    width: 75px;
    height: 75px;
    float: right;
   
}

.flecheArrière{
    margin-top: -3em;
    width: 75px;
    height: 75px;
    float: right;
    margin-right: 50px;
    transform : rotate(180deg)
}

.titre{
    color: white;
    font-weight: bold;
    font-size: 45px;
    margin-left: -7.5em;
}
.titre2{
    color: white;
    font-size: 35px;
}

.titre3{
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.underline{
    margin-top: -50px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.space{
    height: 150px;
}

.spaceButton{
    height: 120px;
}

.btnTxt{
    font-weight: bold;
}

#src{
    width: 55%;
    height: 55%;
    float: right;
    margin-top: -410px;
    margin-right: 40px;
}

.logo{
    width: 80px;
    height: 80px;
}
.logoTitre{
    color:white;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    margin-left: 8em;
    margin-top: -3.5em;
}

@media only screen and (max-width: 1367px) {

    body{
        background-color: #134192 !important;
        padding-top: 70px;
    }
    
    .fleche{
        margin-top: 0px;
        width: 75px;
        height: 75px;
        float: right;
    }
    
    .titre{
        color: white;
        font-weight: bold;
        font-size: 35px;
        margin-left: -4em;
    }
    .titre2{
        color: white;
        font-size: 32px;
        margin-left: -2em;
    }
    
    .titre3{
        color: white;
        font-size: 40px;
        font-weight: bold;
        margin-top: 3em;
    }
    
    .underline{
        margin-top: -70px;
        color: white;
        font-size: 50px;
        font-weight: bold;
    }
    
    .space{
        height: 70px;
    }
    
    .spaceButton{
        height: 100px;
    }
    .spaceUnderButton{
        height: 120px;
    }
    
    .btnTxt{
        font-weight: bold;
        width: 6em;
    }
    
    #src{
        width: 43%;
        height: 43%;
        float: right;
        margin-top: -27em;
        margin-right: 40px;
    }
    
    #e1250, #e1500, #e1750{
        margin-top: -7em;
    }

    .logo{
        width: 80px;
        height: 80px;
        margin-top: -3em;
        position:absolute;
        margin-left: -2em;
    }
    .logoTitre{
        color:white;
        font-size: 14px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        position:absolute;
        margin-left: 8em;
        margin-top: -1em;
    }
}

@media only screen and (min-width: 1368px) {

    body{
        background-color: #134192 !important;
        padding-top: 70px;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .fleche{
        margin-top: -1em;
        width: 75px;
        height: 75px;
        float: right;
    }
    .flecheArrière{
        margin-top: -3em;
        width: 75px;
        height: 75px;
        float: right;
        margin-right: 50px;
        transform : rotate(180deg)
    }
    
    .titre{
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin-left: -10em;
    }
    .titre2{
        color: white;
        font-size: 22px;
        margin-left: -2em;
    }
    
    .titre3{
        color: white;
        font-size: 30px;
        font-weight: bold;
        margin-top: 2.2em;
    }
    
    .underline{
        margin-top: -60px;
        color: white;
        font-size: 40px;
        font-weight: bold;
    }
    
    .space{
        height: 0px;
    }
    
    .spaceButton{
        height: 90px;
    }
    .spaceUnderButton{
        height: 30px;
    }
    
    .btnTxt{
        font-weight: bold;
    }
    
    #src{
        width: 43%;
        height: 43%;
        float: right;
        margin-top: -18em;
        margin-right: 40px;
    }
    .logo{
        width: 80px;
        height: 80px;
        margin-top: -3em;
    }
}